<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='icon' href='static/favicon.ico' type='image/x-icon'/>
        <link rel='apple-touch-icon' href='static/favicon.ico' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

        <script src="lib/sha3.min.js" defer></script>

        <script>
            function errMsg(name, msg, i) {
                document.getElementById(name).innerHTML = msg;
                document.forms[i][name].classList.add("is-danger");
                document.getElementById(name).classList.add("is-danger");
            }

            function validateForm(i) {
                good = true;
                let form = document.forms[i];
                let errs = document.getElementsByClassName("is-danger");
                while (errs[0]) {
                    errs[0].innerHTML = "";
                    errs[0].classList.remove("is-danger");
                }

                if (i === 0) {
                    if (form['name'].value === "") {
                        errMsg("name", "You have to at least have something here.", i);
                        good = false;
                    }
                }

                if (i === 1) {
                    if (sha3_224(form['old_password'].value) != "$old_pass") {
                        errMsg("old_password", "Old password incorrect.", i);
                        good = false;
                    }
                    if (form['new_password'].value.length < 8) {
                        errMsg("new_password", "Eight characters, please.", i);
                        good = false;
                    }
                    if (form['repeat'].value != form['new_password'].value) {
                        errMsg("repeat", "Passwords do not match.", i);
                        good = false;
                    }
                }
                return good;
            }
        </script>
    </head>
    <body style="margin:15px">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Edit Profile</p>
                    <a class="help has-text-link" href="index.py">Return to Home</a>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child notification is-light">
                    <form method="GET" action="form_edit_profile.py" onsubmit="return validateForm(0)">
                        <div class="field">
                            <label class="label">Your Name</label>
                            <div class="control">
                                <p class="help">First and last. Or just first. Or even just last.</p>
                                <input class="input" type="text" name="name" value="$old_name">
                                <p class="help" id="name"></p>
                            </div>
                        </div>
    
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="input button is-primary" type="submit" value="Save">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child notification is-light">
                    <form method="GET" action="form_edit_password.py" onsubmit="return validateForm(1)">
                        <div class="field">
                            <label class="label">Old Password</label>
                            <div class="control">
                                <input class="input" type="password" name="old_password">
                                <p class="help" id="old_password"></p>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">New Password</label>
                            <div class="control">
                                <p class="help">Eight characters so you can have some semblence of cybersecurity.</p>
                                <input class="input" type="password" name="new_password">
                                <p class="help" id="new_password"></p>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Repeat Password</label>
                            <div class="control">
                                <input class="input" type="password" name="repeat">
                                <p class="help" id="repeat"></p>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <input class="input button is-primary" type="submit" value="Change Password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
