<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='icon' href='static/favicon.ico' type='image/x-icon'/>
        <link rel='apple-touch-icon' href='static/favicon.ico' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body style="margin:15px">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Login</p>
                    <p class="subtitle has-text-info">$msg</p>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child notification is-light">
                    <form method="GET" action="form_login.py">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="text" name="email">
                            </div>
                        </div>
    
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password">
                            </div>
                        </div>
    
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="input button is-link" type="submit" value="Login">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child has-text-link box">
                    <a href="register.py">New user? Register here.</a>
                </article>
            </div>
        </div>
    </body>
</html>
