<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Homework</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='icon' href='static/favicon.ico' type='image/x-icon'/>
        <link rel='apple-touch-icon' href='static/favicon.ico' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body style="margin:15px">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">New Homework</p>
                    <a class="help has-text-link" href="index.py">Return to Home</a>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child notification is-light">
                    <form method="GET" action="form_new_hw.py">
                        <div class="field">
                            <label class="label">Class</label>
                            <div class="control">
                                <div class="select">
                                    <select name="subject">
                                        $classes
                                    </select>
                                </div>
                            </div>
                        </div>
    
                        <div class="field">
                            <label class="label">Assignment</label>
                            <div class="control">
                                <input class="input" type="text" name="assignment" placeholder="Homework #1">
                            </div>
                        </div>
    
                        <div class="field">
                            <label class="label">Due Date</label>
                            <div class="control">
                                <input class="input" type="date" name="due">
                            </div>
                        </div>
    
                        <div class="field">
                            <label class="label">Submission Method</label>
                            <div class="control">
                                <input class="input" type="text" name="submit" placeholder="Google Classroom">
                            </div>
                        </div>
    
                        <div class="field">
                            <label class="label">Link to Assignment</label>
                            <div class="control">
                                <input class="input" type="text" name="link" placeholder="https://stuy.edu">
                            </div>
                        </div>
                        
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="input button is-link" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
