<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='icon' href='static/favicon.ico' type='image/x-icon'/>
        <link rel='apple-touch-icon' href='static/favicon.ico' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

        <script src="lib/sha3.min.js" defer></script>

        <script>
            function errMsg(name, msg) {
                document.getElementById(name).innerHTML = msg;
                document.forms[0][name].classList.add("is-danger");
                document.getElementById(name).classList.add("is-danger");
            }

            function validateForm() {
                good = true;
                let form = document.forms[0];
                let errs = document.getElementsByClassName("is-danger");
                var existing_emails = $emails;
                while (errs[0]) {
                    errs[0].innerHTML = "";
                    errs[0].classList.remove("is-danger");
                }

                if (!/(.)\w+([@])\w+([.])\w+/g.test(form['email'].value)) {
                    errMsg("email", "Please enter a valid email address.");
                    good = false;
                }
                if (existing_emails.includes(form['email'].value)) {
                    errMsg("email", "This email address already exists. Please enter a different email.");
                    good = false;
                }
                if (form['name'].value === "") {
                    errMsg("name", "You have to at least have something here.");
                    good = false;
                }
                if (form['password'].value.length < 8) {
                    errMsg("password", "Eight characters, please.");
                    good = false;
                }
                if (form['repeat'].value != form['password'].value) {
                    errMsg("repeat", "Passwords do not match.");
                    good = false;
                }
                for (i = 1; i <= 10; i++) {
                    if (form["p"+i+"a"].value === "") {
                        errMsg("p"+i+"a", "Please enter a value. You can enter \"Free Period\" if you don't have a class here.");
                        good = false;
                    }
                }

                document.getElementById("password_hash").value = sha3_224(document.getElementById("password_raw").value);
                document.getElementById("password_raw").value = "";
                document.getElementById("password_repeat").value = "";
                return good;
            }
        </script>
    </head>
    <body style="margin:15px">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Register</p>
                    <p class="subtitle has-text-info-dark">Welcome to Metis! You can get started by registering below.</p>
                    <a class="has-text-link" href="login.py">Existing user? Click here.</a>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child notification is-light">
                    <form method="GET" action="form_register.py" onsubmit="return validateForm()">
                        <div class="field">
                            <label class="label">Email Address</label>
                            <div class="control">
                                <p class="help">We'll only use this if we need to contact you for a password reset.</p>
                                <input class="input" type="text" name="email">
                                <p class="help" id="email"></p>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Your Name</label>
                            <div class="control">
                                <p class="help">First and last. Or just first. Or even just last.</p>
                                <input class="input" type="text" name="name">
                                <p class="help" id="name"></p>
                            </div>
                        </div>
    
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <p class="help">Eight characters so you can have some semblence of cybersecurity.</p>
                                <input class="input" type="password" name="password" id="password_raw">
                                <p class="help" id="password"></p>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Repeat Password</label>
                            <div class="control">
                                <input class="input" type="password" name="repeat" id="password_repeat">
                                <p class="help" id="repeat"></p>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Classes</label>
                            <div class="control">
                                <p class="help">You'll now input all of your classes so you can have a consolidated schedule with all of your Zoom links. Feel free to leave any spaces blank where you don't have information. If you have the same class on both A and B days, you can leave the B day slot blank.</p>
                                $periods
                            </div>
                        </div>
    
                        <div class="field is-grouped">
                            <div class="control">
                                <input type="hidden" name="password_hash" id="password_hash">
                                <input class="input button is-link" type="submit" value="Register">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
