<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="content">
                <p class="title">Metis v1.0.13: What's New?</p>
                <p>A quick update to make things more fun (hopefully)!</p>
                <ul>
                    <li>Confetti! Try checking off an assignment or test.</li>
                </ul>
                <p>That's all for this time, but I also wanted to thank all of you who've sent feedback (praise, criticism, and suggestions) – I really appreciate it!</p>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
