{% extends "base.html" %}

{% block content %}
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Student Resources</p>
                <p class="subtitle">Quick links for Stuyvesant students</p>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <a href="https://stuy.enschool.org/">
                    <figure class="image">
                        <img src="https://stuy.enschool.org/pics/header_logo.png">
                    </figure>
                </a>
            </article>
            <article class="tile is-child box">
                <a href="https://talos.stuy.edu/">
                    <figure class="image">
                        <img src="https://d2avp8khdvtoba.cloudfront.net/static/assets/media/logo/favicon.ico">
                    </figure>
                </a>
            </article>
            <article class="tile is-child box">
                <a href="https://login.jupitered.com/login/">
                    <figure class="image">
                        <img src="http://login.jupitered.com/media/icon_jupiter_32.png">
                    </figure>
                </a>
            </article>
            <article class="tile is-child box">
                <a href="https://stuyarista.org/">
                    <figure class="image">
                        <img src="https://stuyarista.org/static/img/logo.png">
                    </figure>
                </a>
            </article>
        </div>
    </div>
{% endblock %}
