{% extends "base.html" %}

{% block content %}
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Student Resources</p>
                <p class="subtitle">Quick links for Stuyvesant students (more to come!)</p>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child is-3">
                            <a href="https://stuy.enschool.org/" target="_blank">
                                <figure class="image is-64x64">
                                    <img src="https://stuy.enschool.org/pics/header_logo.png">
                                </figure>
                            </a>
                        </article>
                        <article class="tile is-child">
                            <a href="https://stuy.enschool.org/" target="_blank">
                                <p class="title">Stuy Website</p>
                                <p class="subtitle">General info and Updates</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-child box">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child is-3">
                            <a href="https://talos.stuy.edu/" target="_blank">
                                <figure class="image is-64x64">
                                    <img src="https://d2avp8khdvtoba.cloudfront.net/static/assets/media/logo/favicon.ico">
                                </figure>
                            </a>
                        </article>
                        <article class="tile is-child">
                            <a href="https://talos.stuy.edu/" target="_blank">
                                <p class="title">Talos</p>
                                <p class="subtitle">Programming, Grades, and More</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-child box">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child is-3">
                            <a href="https://login.jupitered.com/login/" target="_blank">
                                <figure class="image is-64x64">
                                    <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQH-GVx_u5XFeA/company-logo_200_200/0/1586266334757?e=1619654400&v=beta&t=iWs-3pPfybybavrjDHHMbzMBrk0OUE-0zFzu6BL914o">
                                </figure>
                            </a>
                        </article>
                        <article class="tile is-child">
                            <a href="https://login.jupitered.com/login/" target="_blank">
                                <p class="title">Jupiter Ed</p>
                                <p class="subtitle">Grades and Homework</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child is-3">
                            <a href="https://classroom.google.com/" target="_blank">
                                <figure class="image is-64x64">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Google_Classroom_icon.svg/1024px-Google_Classroom_icon.svg.png">
                                </figure>
                            </a>
                        </article>
                        <article class="tile is-child">
                            <a href="https://classroom.google.com/" target="_blank">
                                <p class="title">Google Classroom</p>
                                <p class="subtitle">Homework and Announcements</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-child box">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child is-3">
                            <a href="https://stuyarista.org/" target="_blank">
                                <figure class="image is-64x64">
                                    <img src="https://stuyarista.org/static/img/favicon.png">
                                </figure>
                            </a>
                        </article>
                        <article class="tile is-child">
                            <a href="https://stuyarista.org/" target="_blank">
                                <p class="title">ARISTA</p>
                                <p class="subtitle">Tutoring and Essay Editing</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-child box">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child is-3">
                            <a href="https://apstudents.collegeboard.org/" target="_blank">
                                <figure class="image is-64x64">
                                    <img src="https://yt3.ggpht.com/ytc/AAUvwngORNlFPadEU_vw9djpHzAs6qEC7gGygfe0SjWH=s900-c-k-c0x00ffffff-no-rj">
                                </figure>
                            </a>
                        </article>
                        <article class="tile is-child">
                            <a href="https://apstudents.collegeboard.org/" target="_blank">
                                <p class="title">AP Classroom</p>
                                <p class="subtitle">AP Exam Practice</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child is-3">
                            <a href="https://www.albert.io/classes" target="_blank">
                                <figure class="image is-64x64">
                                    <img src="https://www.albert.io/assets/Albert.jpg">
                                </figure>
                            </a>
                        </article>
                        <article class="tile is-child">
                            <a href="https://www.albert.io/classes" target="_blank">
                                <p class="title">Albert.io</p>
                                <p class="subtitle">Practice Questions</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-child box">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child is-3">
                            <a href="https://nycdoe.zoom.us/profile" target="_blank">
                                <figure class="image is-64x64">
                                    <img src="https://dvh1deh6tagwk.cloudfront.net/niche-builder/ZoomLogo.png">
                                </figure>
                            </a>
                        </article>
                        <article class="tile is-child">
                            <a href="https://nycdoe.zoom.us/profile" target="_blank">
                                <p class="title">NYC DOE Zoom</p>
                                <p class="subtitle">Class Meetings</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-child box">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child is-3">
                            <a href="https://student.naviance.com/stuyvesant" target="_blank">
                                <figure class="image is-64x64">
                                    <img src="https://www.reynolds.k12.or.us/sites/default/files/imageattachments/rhs/page/31331/naviancelogo.jpg">
                                </figure>
                            </a>
                        </article>
                        <article class="tile is-child">
                            <a href="https://student.naviance.com/stuyvesant" target="_blank">
                                <p class="title">Naviance</p>
                                <p class="subtitle">College Prep</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
