<html lang="en">
    <head>
        {% if title %}
        <title>Metis - {{ title }}</title>
        {% else %}
        <title>Metis</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Metis is a planner web application designed to help Stuyvesant students get more organized with schoolwork and make life a little bit easier.">
        <link rel='icon' href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
        <link rel='apple-touch-icon' href="{{ url_for('static', filename='favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
        <script defer src="{{ url_for('static', filename='fontawesome.js') }}"></script>
        <script defer src="{{ url_for('static', filename='configurable-date-input-polyfill.dist.js') }}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-87DR5JGLJN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-87DR5JGLJN');
        </script>

    </head>
    <body>
        <div class="tile is-ancestor" style="padding:0">
            <div class="tile is-parent">
                <div class="tile is-child notification is-primary">
                    <p class="title">{{ day }}</p>
                    <div class="table-container">
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Period</th>
                                    <th>Time</th>
                                    <th>Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subject in schedule %}
                                <tr>
                                    <th>{{ subject.period }}</th>
                                    <td>{{ subject.times }}</td>
                                    {% if subject.link %}
                                    <td><a href="{{ subject.link }}" target="_blank">{{ subject.subject }}</a></td>
                                    {% else %}
                                    <td>{{ subject.subject }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

